Zadanie 4/CRUDClient/CRUDClient/Service References/CRUDService/CRUDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRUDService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CRUDService/Service1?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CRUDService/Service1?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CRUDService/Service1?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjectsManager.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRUDService_AddMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMovie" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_AddMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMovieResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_GetMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovie" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_GetMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_GetAllMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMovies" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_GetAllMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_UpdateMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovie" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_UpdateMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMovieResponse" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_DeleteMovie_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovie" />
  </wsdl:message>
  <wsdl:message name="ICRUDService_DeleteMovie_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMovieResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRUDService">
    <wsdl:operation name="AddMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/AddMovie" message="tns:ICRUDService_AddMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/AddMovieResponse" message="tns:ICRUDService_AddMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/GetMovie" message="tns:ICRUDService_GetMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/GetMovieResponse" message="tns:ICRUDService_GetMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/GetAllMovies" message="tns:ICRUDService_GetAllMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/GetAllMoviesResponse" message="tns:ICRUDService_GetAllMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/UpdateMovie" message="tns:ICRUDService_UpdateMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/UpdateMovieResponse" message="tns:ICRUDService_UpdateMovie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRUDService/DeleteMovie" message="tns:ICRUDService_DeleteMovie_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRUDService/DeleteMovieResponse" message="tns:ICRUDService_DeleteMovie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICRUDService" type="tns:ICRUDService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddMovie">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/AddMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovie">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/GetMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMovies">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/GetAllMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMovie">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/UpdateMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMovie">
      <soap:operation soapAction="http://tempuri.org/ICRUDService/DeleteMovie" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CRUDService">
    <wsdl:port name="BasicHttpBinding_ICRUDService" binding="tns:BasicHttpBinding_ICRUDService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/CRUDService/Service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>